extends layout

block scripts
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/main.js')

block content
  h1= title
  p(style="margin:30px") This is a demo page to illustrate the charts generation function...

  .group
    h3 Treemap chart:
    form(id="TreemapForm", action="/create", method="post")
      p
        label(for="json") json-data:
          textarea(id="TreemapJsonData", name="json", rows="10" ,cols="100")
      
      input(id="loadTreemapJson", type="button", value="Load json first", style="margin-right: 10px;")
      input(id="submitTreemapForm", type="button", value="Ceate chart then", style="margin-right: 10px;")
      img(id="treemap_loading", src="/stylesheets/loading.gif", width="22px;" height="22px", style="vertical-align:middle; display:none;")

    #treemap_result.small-space
          
