body {
  padding-top: 10px;
  padding-left: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

label textarea{/* textarea in label */
 vertical-align: top;
 resize: none;
}

/* each chart demo container */
.group {
    /**border: 1px solid #F5F5F5;*/
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.small-space {
    margin: 40px;
}

.left-thubmnail {
    float:left; 
    border:1px solid #F5F5F5;
}

.right-box {
    margin-left:130px;
}